  body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
  }
  a {
    text-decoration: none;
    color: black;
  }

  /* this is to avoid the padding around the form inputs fields */
  * {
    box-sizing: border-box; 
  }